/* boxed */
.boxed {
  > div {
    @apply mx-auto! max-w-5xl;
  }
}

/* Add highlight */
.highlighted-top,
.highlighted-bottom,
.highlighted-left,
.highlighted-right {
  > div {
    @apply border-accent! my-6 p-6;
  }
}
.highlighted-top > div {
  @apply border-t;
}

.highlighted-bottom > div {
  @apply border-b;
}

.highlighted-left > div {
  @apply border-l;
}

.highlighted-right > div {
  @apply border-r;
}

.main-btn {
  @apply bg-accent text-background hover:bg-accent/95 flex items-center justify-center rounded-md p-3 text-center text-lg font-semibold transition-all hover:shadow-md;

  &[disabled] {
    @apply pointer-events-none opacity-60;
  }
}

.navigation-item {
  @apply text-foreground hover:text-accent transition-colors hover:no-underline! lg:whitespace-nowrap;
}

.navigation-item-primary {
  @apply font-medium in-[.drawer-content]:text-xl;
}

.header-block {
  @apply flex items-center justify-items-start gap-x-6 *:w-auto *:basis-auto;
}

.drawer-heading {
  @apply mt-7 mb-18 text-2xl;
}
