/* boxed */
.boxed {
  > div {
    @apply mx-auto! max-w-5xl;
  }
}

/* Add highlight */
.highlighted-top,
.highlighted-bottom,
.highlighted-left,
.highlighted-right {
  > div {
    @apply border-accent! my-6 p-6;
  }
}
.highlighted-top > div {
  @apply border-t;
}

.highlighted-bottom > div {
  @apply border-b;
}

.highlighted-left > div {
  @apply border-l;
}

.highlighted-right > div {
  @apply border-r;
}

.main-btn {
  @apply bg-accent text-background hover:bg-accent/95 flex items-center justify-center rounded-md px-6 py-3 text-center text-lg font-semibold transition-all hover:shadow-md;

  &[disabled] {
    @apply pointer-events-none opacity-60;
  }
}

.secondary-btn {
  @apply border-foreground bg-background text-foreground hover:bg-background-muted flex items-center justify-center rounded-md border-2 px-8 py-2 text-center text-lg font-semibold transition-all hover:shadow-md;

  &[disabled] {
    @apply pointer-events-none opacity-60;
  }
}
