.article-carousel-pagination .swiper-pagination-bullet {
  @apply relative m-1 h-4 w-4 rounded-full bg-gray-400;
}

.article-carousel-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply border-accent border-2 bg-transparent;
}

.article-carousel-pagination .swiper-pagination-bullet::after {
  @apply bg-accent absolute top-1/2 left-1/2 h-1/2 w-1/2 rounded-full content-[''];
  @apply -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity duration-300 ease-in-out;
}

.article-carousel-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  @apply opacity-100;
}

.article-carousel-second .swiper-slide.swiper-slide-active {
  @apply !mr-5;
}

.article-carousel-btn-disabled {
  @apply cursor-not-allowed opacity-50;
}
