@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer components {
  .container-wrapper {
    @apply w-full;
  }

  /* bordered */
  .sxa-bordered {
    > .component-content {
      @apply p-6 border border-solid border-border rounded-2xl;
    }
  }
}
