.component.image {
  img {
    @apply w-full h-auto;
  }

  a {
    @apply inline-block max-w-full;
  }

  .image-caption {
    @apply block text-sm py-1;
  }
}

/* image default size */
.image-default-size {
  img {
    @apply max-w-full w-auto!;
  }
}
