.navigation {
  .level0,
  .level1 {
    > .navigation-title > a {
      @apply px-3 border-b;
    }
  }
  li {
    > .navigation-title {
      > a {
        @apply block py-2;
      }
    }
  }

  .submenu > ul {
    @apply pl-6;
  }

  .menu-mobile-navigate-wrapper {
    @apply block w-full;
  }
}

/* navigation main horizontal */
.navigation.navigation-main-horizontal {
  @apply w-full;

  .menu-mobile-navigate {
    @apply hidden;
  }

  .component-content {
    @apply inline-block max-md:hidden;

    .level0 {
      @apply flex;
    }

    .level0,
    .level1 {
      @apply float-left ml-6;

      > .navigation-title {
        > a {
          @apply border-0;
        }
      }
    }
  }

  @media (width < 48rem /* 768px (md) */) {
    .component-content {
      @apply hidden fixed inset-0 bg-background-accent z-1;

      * {
        @apply text-center!;
      }

      nav {
        @apply h-full flex flex-col justify-center;

        .level0 {
          @apply block;
        }
      }

      ul {
        @apply p-0 m-0;
      }

      .level0,
      .level1 {
        @apply float-none ml-0;
        > .navigation-title {
          > a {
            @apply text-3xl leading-loose;
          }
        }
      }
    }

    .menu-mobile-navigate-wrapper {
      .menu-mobile-navigate {
        @apply absolute right-5 top-5 h-7 w-7 opacity-0 z-2;
      }

      .menu-humburger {
        &::before {
          @apply fixed top-0 right-0 block w-6 h-6 text-2xl text-center cursor-pointer z-99;
          content: '\2630';
        }
      }

      .menu-mobile-navigate:checked ~ .menu-humburger::before {
        content: '\00d7';
      }

      .menu-mobile-navigate:checked ~ .component-content {
        @apply fixed inline-block;
      }
    }
  }
}
