.content,
.rich-text {
  @apply overflow-hidden;

  * {
    @apply max-w-full;
  }
}
.content,
.rich-text,
.ck-content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    &:not(:first-child) {
      @apply mt-[1em];
    }

    &:not(:last-child) {
      @apply mb-[0.5em];
    }
  }

  p,
  ul,
  ol {
    &:not(:last-child) {
      @apply mb-4;
    }
  }

  ul {
    @apply ps-6 space-y-1 text-foreground-light;

    ul {
      @apply my-2;
    }
  }

  ol {
    @apply ps-6 space-y-1 text-foreground-light;

    ol {
      @apply my-2;
    }
  }
}

/* custom bullet points */
.rich-text-lists {
  ul {
    li {
      @apply relative list-none;

      &:before {
        @apply absolute w-4 top-0.5 -left-4.5 text-sm content-['\f046'] font-[FontAwesome];
      }
    }
  }
}
