@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-base font-body text-foreground bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-foreground;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }

  p {
    @apply font-body text-foreground-light;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }

  *::placeholder {
    @apply text-foreground-light;
  }
}
