@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-body text-foreground bg-background text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-foreground leading-[1.3] font-bold;
  }

  h1 {
    @apply text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-2xl lg:text-3xl;
  }

  h5 {
    @apply text-xl lg:text-2xl;
  }

  h6 {
    @apply text-lg lg:text-xl;
  }

  p {
    @apply font-body text-foreground-light;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }

  *::placeholder {
    @apply text-foreground-light;
  }

  .eyebrow {
    @apply text-accent text-lg font-semibold tracking-[0.175em] uppercase;
  }

  .image-cover {
    @apply h-full w-full object-cover;
  }

  .wavy-bottom-right {
    clip-path: polygon(
      16% 44%,
      24% 57%,
      36% 68%,
      51% 80%,
      70% 90%,
      100% 100%,
      0 100%,
      0 0,
      11% 31%
    );
  }
  .wavy-bottom-left {
    clip-path: polygon(
      16% 44%,
      24% 57%,
      36% 68%,
      51% 80%,
      70% 90%,
      100% 100%,
      0 100%,
      0 0,
      11% 31%
    );
    rotate: 270deg;
  }

  .reviews_carousel_btn {
    @apply bg-background absolute top-1/3 z-10 flex h-12 w-12 -translate-y-1/2 items-center justify-center rounded-full p-3 shadow-[0_7.031px_19.531px_0_rgba(0,0,0,0.25)];
  }
  .reviews_carousel_btn_left {
    left: 0;
    @media screen and (min-width: 1550px) {
      left: -25px;
    }
  }
  .reviews_carousel_btn_right {
    right: 0;
    @media screen and (min-width: 1550px) {
      right: -25px;
    }
  }
}
