@theme {
  --color-foreground: #1e1e1e;
  --color-foreground-light: #505050;

  --color-background-primary: #fff;
  --color-background-accent: #faf3ea;
  --color-background-muted: #f7f7f7;

  --color-accent: #c1a25f;

  --color-success: #2ec1ac;
  --color-danger: #e97171;

  --color-border: #e8e8e8;

  --font-heading: 'Manrope', sans-serif;
  --font-body: 'Manrope', sans-serif;
}
